html {
    box-sizing: border-box;
}

#ads {
    display: flex;
    justify-content: center;
    padding: 30px;
    max-width: 100%;   
}

.nav-link {
    margin: 0 50px;
    padding: 0 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

#walk {
    border-radius: 5px;
}

h1 {
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
    text-align: center;
    line-height: 1.5;
    
}

.checked {
    color: rgb(30, 168, 223);

}

.dropdown-menu {
    background-color: hsl(224, 56%, 22%);
  }
  
.dropdown-item {
    color: white;
  }
  
.dropdown-item:hover {
    background-color: rgb(65, 86, 110);
    color: white;
  }

.nwts {
    max-width: 100%;
    margin: 30px;
    padding-left: 120px;

}
header, h4 {
    color: white;
    line-height: 1.4;
    }

p {
    padding-top: 20px;
    color: white;
}

#language {
    
    color: rgb(100, 198, 236);
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    
}
